

body {
  background-color: rgb(100, 222, 243);
  align-items: center;
  margin-top:10%;
}

.cardheader {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.valid > p {
  color: green;
}

.invalid > p {
  color: red;
}
form
{ padding: 10px;
  border-radius: 2px;
   box-shadow: 1px 0.5px 0.5px 1px rgba(0, 0, 0, 0.15); 
  margin: 3px;
  background-color: white;
}

input {
  font-family: "Playfair Display SC", serif;
  background-color: white;
  padding: 8px;
  border-radius: 3px;
  margin-bottom: 6px;
}

.field {
  border: none;
  border-bottom: solid gray;
  height: 20px;
  width: 90%;
  font-size: 0.9rem;
  letter-spacing: 2px;
}

*:focus {
  outline: none;
}

field:hover {
  border-bottom: solid blue;
}

.input {
  margin: 0 auto;
  width: 80%;
  font-size: 0.9rem;
  letter-spacing: 1.5px;
}

/* .input > p {
  margin: 0;
  margin-bottom: 3px;
  font-size: 0.9rem;
  color: gray;
  width: 75%;
} */
.footer{
  height:fit-content;
  outline-color: blueviolet;
}
.valid{
  color:green;
}
.invalid{
  color:red;
}
.usermsg{
  color:black;
  font-weight: bold;
}

/* .input-field {
  width: 220px;
} */
.submitbutton{
  background-color: blue;
  color: white;
  border-radius: 0.5em;
  margin-left: 5px;
  margin-top: 10px;
  width: 9rem;
  padding: 10px;
  font-size: 0.9rem;
  font-weight: bold;

}
.submitbutton:hover {
  background: rgb(213, 35, 223);
  cursor: pointer;
}



